In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [16]:
df = pd.read_csv('../Data/PastHires.csv', header=0)
df.head()

,Years Experiencs,Employed,Previous employers,Level of Edudation,Top-tier School,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

In [17]:
yes_no_map = {'Y': 1, 'N': 0}
edu_map = {'BS': 0, 'MS': 1, 'PhD': 2}

In [18]:
df['Employed'] = df['Employed'].map(yes_no_map)
df['Top-tier School'] = df['Top-tier School'].map(yes_no_map)
df['Interned'] = df['Interned'].map(yes_no_map)
df['Hired'] = df['Hired'].map(yes_no_map)
df['Level of Edudation'] = df['Level of Edudation'].map(edu_map)

df.head()

,Years Experiencs,Employed,Previous employers,Level of Edudation,Top-tier School,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

In [19]:
features = list(df.columns[:6])
print(features)

['Years Experiencs', 'Employed', 'Previous employers', 'Level of Edudation', 'Top-tier School', 'Interned']

In [20]:
x = df[features]
y = df['Hired']

In [21]:
clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(x, y)

In [22]:
print(clf.predict([[10, 0, 4, 0, 0, 0]]))

[0]