In [ ]:
import pandas as pd

CSV لود کردن فایل

In [4]:
result = pd.read_csv("MyData.csv")

In [5]:
result.head()

   id    title   count
0   1   Test 1       5
1   2   Test 2      62
2   3   Test 3      78
3   4   Test 4       9
4   5   Test 5       7

نمایش دو ردیف اول

In [7]:
result.head(2)

   id    title   count
0   1   Test 1       5
1   2   Test 2      62

نمایش دو ردیف آخر

In [8]:
result.tail(2)

   id    title   count
3   4   Test 4       9
4   5   Test 5       7